@import "tailwindcss";
.slider-bg1 {
  background-image: url("./assets/img/slider-1.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}
.slider-bg2 {
  background-image: url("./assets/img/slider-2.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}
.slider-bg3 {
  background-image: url("./assets/img/slider-3.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;}
/* }
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 1s ease-in-out forwards;
}

/* Slide Down */
/* .slide-down {
  animation: slideDown 0.5s ease-in-out forwards;
} */
/* @keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */

/* Slide Left */
/* .slide-left {
  animation: slideLeft 0.5s ease-in-out forwards;
}
@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1; */
  /* } */
/* } */ 

/* .slide-right {
  animation: slideRight 0.5s ease-in-out forwards;
}
@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */